:host {
  z-index: 5;
}

mat-toolbar {
  height: 40px;
}

p {
  margin: 0;
}

mat-icon {
  vertical-align: middle;
}

.socials {
  display: inline-block;
  vertical-align: middle;
  height: 24px;

  a {
    margin: 0 5px;
  }
}
