@use '../../../assets/styles/vars' as vars;

:host {
  padding: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.events {
  overflow: auto;
  height: 100%;
}

.event:not(:first-child) {
  margin-top: 10px;
}
