@use '../../../assets/styles/vars' as vars;

:host {
  padding: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.mat-accordion {
  overflow: auto;
  height: 100%;
}

.mat-action-row {
  justify-content: space-between;
  align-items: center;
  padding: 16px;

  .created-by {
    margin-right: 8px;
  }
}
