@use '../../../assets/styles/vars' as vars;

:host {
  z-index: 5;
}

header {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: vars.$color-primary;
  padding: 10px;
  box-shadow: 2px 2px 5px black;

  .version {
    font-size: .6em;
    vertical-align: bottom;
  }

  .actions {
    display: flex;

    & > *:not(:last-child) {
      margin-right: 10px;
    }
  }
}
