name: Deploy Develop
on:
  push:
    branches:
      - 'develop'
jobs:
  deploy:

    runs-on: ubuntu-latest
    environment: Miwoli OVH VPS

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '16'
      
      - name: Cache node modules
        id: cache-npm
        uses: actions/cache@v3
        env:
          cache-name: cache-node-modules
        with:
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - if: ${{ steps.cache-npm.outputs.cache-hit != 'true' }}
        name: List the state of node modules
        continue-on-error: true
        run: npm list
      
      - name: Install dependencies
        run: npm ci && npm run bootstrap
    
      - name: Build
        run: npm run build

      - name: 'Prepare dist'
        run: |
          mkdir ../build
          cp -r ./packages/cms/dist ../build/cms
          cp -r ./packages/frontend/dist/frontend ../build/frontend
          tar -cvzf deploy.tar ../build/

      - name: 'Deploy'
        uses: appleboy/scp-action@master
        env:
          HOST: ${{ secrets.ADDRESS }}
          USERNAME: ${{ secrets.USERNAME }}
          PORT: ${{ secrets.PORT }}
          KEY: ${{ secrets.KEY }}
        with:
          source: 'deploy.tar'
          target: '/var/www/jugger/${{ secrets.DEVELOP_URL }}'

      - name: 'Execute remote'
        uses: appleboy/ssh-action@master
        with:
          HOST: ${{ secrets.ADDRESS }}
          USERNAME: ${{ secrets.USERNAME }}
          PORT: ${{ secrets.PORT }}
          KEY: ${{ secrets.KEY }}
          script: |
            cd /var/www/jugger/${{ secrets.DEVELOP_URL }}
            tar -xvzf deploy.tar
